/* Full page layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Content below header */
.body {
  display: flex;
  flex: 1;
}

/* Sidebar styles */
.sidebar {
  width: 150px;
  background-color: #004080;
  color: #ffffff;
  padding: 2rem;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
    color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.sidebar li:hover {
  color: #ffd447;
}

/* Main content area */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 2rem;
}


.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* Footer remains at bottom */
footer {
  margin-top: auto;
}
